Makefile*
src/PayDayd
PayDayCoin-qt.pro.user
src/qt/locale/bitcoin_*.qm
object_script.PayDayCoin-qt.*
paydaycoin-qt_plugin_import.cpp
build
release
uic_wrapper.*
src/secp256k1/build-aux/compile
src/secp256k1/build-aux/config.guess
src/secp256k1/build-aux/config.sub
src/secp256k1/build-aux/depcomp
src/secp256k1/build-aux/install-sh
src/secp256k1/build-aux/ltmain.sh
src/secp256k1/build-aux/missing